.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.App-header {
  background-color: #282c34;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  grid-column: 1/3;
}

main {
  background-color: #282c34;
  color: white;
  margin: 1em;
  padding: .5em;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

