.track {
    margin: 1em;
    padding: 2em;
    text-align: left;
    background-color: #1f1f2f;
}

.track h4{
    text-align: left;
}

.add {
    float: right;
    top: 0px;
    right: 0px;
    font-size: 50px;
}